.wrapper {
overflow: hidden;
max-width: 390px;
background: #0000FF;
padding: 30px;
border-radius: 5px;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
position: absolute;
top: 20px;
right: 0; 
}

.form-inner {
width: 100%;
}

.form-inner form {
display: flex; /* Перемещаем это свойство из form-inner */
flex-direction: column; /* Перемещаем это свойство из form-inner */
justify-content: center; /* Перемещаем это свойство из form-inner */
}

.form-inner form .field {
height: 40px;
width: 100%;
margin-top: 10px;
}

.form-inner form .field input {
height: 100%;
width: 150px;
outline: none;
padding-left: 15px;
border-radius: 5px;
border: 1px solid #0000FF;
border-bottom-width: 2px;
font-size: 17px;
transition: all 0.3s ease;
}

.btn {
height: 40px;
}
